<div>
  <a href="https://stackoverflow.com/users/613430/tom-wadley">
    <img src="https://stackoverflow.com/users/flair/613430.png" width="208" height="58" alt="profile for Tom Wadley at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Tom Wadley at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
  </a>
</div>
<div>
  <a href="https://github.com/tomwadley">
    <img src="{{ site.url }}/images/GitHub-Mark-64px.png" width="64" height="64" alt="GitHub profile for tomwadley" />
    <span>tomwadley</span>
  </a>
</div>
