<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />

  <title>
    {% if page.url != "/" %}
    {{ page.title }} -
    {% endif %}
    TomWadley.net
  </title>

  <link rel="stylesheet" href="{{ site.url }}/stylesheets/main.css">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% include analytics.html %}
</head>
<body>
  <div id="header-wrapper">
    <header>
      <h1 class="title"><a href="{{ site.url }}/">Tom Wadley</a></h1>
    </header>
  </div>

  <div id="content-wrapper">
    <section id="content">
      <section id="sidebar">
        <aside class="bio">
          <img src="{{ site.url }}/images/tom-icon.jpg" width="150" height="150">
          <p>I'm a software developer from Melbourne based in London</p>
        </aside>

        <nav>
          <ul>
            {% include page_li.html id="index" %}
            {% include page_li.html id="code" %}
            {% include page_li.html id="contact" %}
          </ul>
        </nav>

        <aside id="badges">
          {% include badges.html %}
        </aside>
      </section>
      <section id="main-content">
        <div id="page-{{ page.id }}">
          {{ content }}
        </div>
      </section>
    </section>
  </div>

  <footer>
  </footer>
</body>
</html>
