<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.url != "/" %}
    {{ page.title }} -
    {% endif %}
    TomWadley.net
  </title>

  {% stylesheet main %}

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <header>
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
  </header>

  <div id="all-content">
    <div id="sidebar">
      <aside class="bio">
        <img src="http://placehold.it/150x150">
        <p>I'm a full-stack software engineer from Melbourne based in London</p>
      </aside>

      <nav>
        <ul>
          {% include page_li.html pageTitle="About Me" %}
          {% include page_li.html pageTitle="Projects" %}
          {% include page_li.html pageTitle="Miscellania" %}
        </ul>
      </nav>

      <aside>
        <p>Stack overflow</p>
        <p>Github</p>
        <p>Other social media?</p>
        <p>Other badges? (FSF? EFF?)</p>
      </aside>
    </div>
    <article>
      {{ content }}
    </article>
  </div>

  <footer>
  </footer>
</body>
</html>
